.button {
  font: inherit;
  cursor: pointer;
  background-color: var(--color-grey-50);
  padding: var(--size-2) var(--size-4);
  border-radius: 4px;
  color: var(--color-grey-900);
  font-weight: bold;
  width: var(--size-40);
}

.button:hover {
  background-color: var(--color-grey-200);
  border-color: var(--color-grey-200);
}

@media (max-width: 500px) {
  .button {
    max-width: var(--size-30);
  }
}
