.socials a {
  margin-right: 10px;
}

.socials a:last-child {
  margin-right: 0;
}

.socials * {
  font-size: var(--size-10);
  color: var(--color-grey-50);
}

@media only screen and (max-width: 550px) {
  .socials * {
    margin-bottom: var(--size-2);
    font-size: var(--size-8);
  }
}
