.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--color-primary-300);
  border: 1px solid var(--color-primary-300);
  color: var(--color-grey-50);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  transition: opacity 0.3s, visibility 0.3s;
}

.scroll-to-top:hover {
  opacity: 1;
}

/* Optional: Change button color on hover */
.scroll-to-top:hover {
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-500);
}
