.detailSection {
  margin: var(--size-8) auto;
  border-radius: 6px;
  background-color: transparent;
  padding: var(--size-4);
  font-size: var(--size-5);
}

.detailSection ul {
  list-style-type: none;
  padding: 0;
}

.detailSection ul li {
  margin-bottom: var(--size-4);
  display: flex;
  align-items: center;
  color: var(--color-grey-50);
}

.detailSection ul li svg {
  margin-right: 10px;
}

.tagline {
  color: var(--color-grey-50);
  font-size: var(--size-6);
  font-weight: bolder;
  text-align: left;
  margin-bottom: var(--size-8);
  cursor: pointer;
  text-decoration: yellowgreen underline;
}

@media only screen and (max-width: 768px) {
  .tagline {
    font-size: var(--size-5); /* Decrease font size for smaller screens */
    margin-bottom: var(
      --size-6
    ); /* Decrease margin bottom for smaller screens */
  }

  .detailSection ul li {
    margin-bottom: var(
      --size-3
    ); /* Decrease margin bottom for smaller screens */
    /* font-size: var(--size-5); */
  }
}

@media only screen and (max-width: 550px) {
  .detailSection ul li {
    margin-bottom: var(
      --size-2
    ); /* Decrease margin bottom for smaller screens */
    font-size: var(
      --size-4
    ); /* Decrease font size of details for smaller screens */
  }

  .detailSection ul li svg {
    width: 1.25rem; /* Adjust icon size for smaller screens */
    height: 1.25rem; /* Adjust icon size for smaller screens */
    margin-right: 0.5rem; /* Add some space between icon and text */
  }
}
