.detailSection {
  margin: var(--size-8) auto;
  border-radius: 6px;
  background-color: transparent;
  max-width: 50rem;
  padding: var(--size-4);
  font-size: var(--size-5);
}

.detailSection ul {
  list-style-type: none;
  padding: 0;
}

.detailSection ul li {
  margin-bottom: var(--size-4);
  display: flex;
  align-items: center;
  color: var(--color-grey-50);
}

.detailSection ul li svg {
  margin-right: 10px;
}

.tagline {
  color: var(--color-grey-50);
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: left;
  margin-bottom: var(--size-8);
  cursor: pointer;
  text-decoration: yellowgreen underline;
}
